<div class="issueDiv mt-5 mx-5 col-lg-10 col-md-8">
  <div class="issue mt-2 mx-4"><p>Issue 1</p></div>
  <div class="resolvedBy mx-5" >
    <h3 class="mx-5 my-2" >Resolved By</h3>
    <p class="mx-5 my-2">(Agent Name)</p>
  </div>
  <div class="continueButtonDiv">
    <!--accept button-->
    <button type="button" id="continue" (click)="redirect()">Continue</button>
  </div>
  <div class="transferAgent">
    <!--transfer agent dropdown-->
    <div class="dropdown">
      <button
        style="width: 300px; height: 85px"
        class="btn btn-outline-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Transfer to Agent
      </button>
      <ul
        class="dropdown-menu"
        style="text-align: center"
        aria-labelledby="dropdownMenuButton"
      >
        <li style="padding-left: 0; width: 297px" class="dropdown-item">
          <span
            ><img
              style="height: 29px; width: 29px"
              src="../../../assets/user.jpg"
              alt=""
          /></span>
          Agent 1
        </li>
        <li style="padding-left: 0" class="dropdown-item">
          <span
            ><img
              style="height: 29px; width: 29px; margin-right: 5px"
              src="../../../assets/user.jpg"
              alt="" /></span
          >Agent 2
        </li>
        <li style="padding-left: 0" class="dropdown-item">
          <span
            ><img
              style="height: 29px; width: 29px; margin-right: 5px"
              src="../../../assets/user.jpg"
              alt="" /></span
          >Agent 3
        </li>
      </ul>
    </div>
  </div>
</div>
