<div class="d-flex row" id="wrapper">
  <!-- Sidebar -->
  <div class="border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">
      <img src="../../../assets/Lagroce Logo type.png" id="logo-1" alt="" />
    </div>
    <div class="list-group list-group-flush">
      <a
        routerLink="waiting"
        class="list-group-item list-group-item-action"
        style="padding: 1.5rem 1.25rem"
        >Waiting for accept
      </a>
      <a
        routerLink="resolved"
        class="list-group-item list-group-item-action"
        style="padding: 1.5rem 1.25rem"
        >Your recent resolved issues</a
      >
      <a
        routerLink="open"
        class="list-group-item list-group-item-action"
        style="padding: 1.5rem 1.25rem"
        >Your recent open issues</a
      >
      <a
        routerLink="accepted"
        class="list-group-item list-group-item-action"
        style="padding: 1.5rem 1.25rem"
        >Recent accepted issues</a
      >
      <a
        routerLink="awaiting"
        class="list-group-item list-group-item-action"
        style="padding: 1.5rem 1.25rem"
        >Awaiting issues</a
      >
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
</div>
