.issueDiv {
    position: relative;
    width: 1102px;
    height: 226px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 5px #00000029;
    border: 1px solid #ebebeb;
    border-radius: 12px;
    opacity: 1;
  }
  .issue {
    font: normal normal 600 26px/35px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 0.86;
  }
  
  #accept {
    background-color: #2c9e02;
    color: #ffffff;
    width: 144px;
  }
  .acceptButtonDiv {
    position: absolute;
    font: normal normal 200 22px/30px Segoe UI;
    left: 125px;
    top: 120px;
  }
  
  .transferAgent {
    position: absolute;
    font: normal normal 600 18px/24px Segoe UI;
    top: 120px;
    left: 380px;
  }
  
  .orderId {
    position: absolute;
    right: 10%;
    top: 12%;
  }

  .status{
      position: absolute;
      top: 85%;
      left: 3.5%;
  }
  